<article class="page-footer d-flex flex-col flex-column gap-48">
  <section class="subscribe-section"></section>
  <section class="terms-conditions-container d-flex">
    <div class="terms-conditions d-flex flex-column gap-32 w-100">
      <span class="separator"></span>
      <div class="actions-container d-flex gap-32">
        <div class="actions d-flex">
          <a href="">
            <span>Privacy Policy</span>
          </a>
          <a href="">
            <span>Terms of service</span>
          </a>
          <a href="">
            <span>Cookies Settings</span>
          </a>
        </div>
        <span class="rights">© 2023 MyEdu. All rights reserved.</span>
      </div>
    </div>
  </section>
</article>
