<article class="boarding d-flex flex-column white-txt main-bg">
  <section class="first-section d-flex flex-column gap-24 align-center">
    <h6 class="text-align-center ion-no-margin weight-900 lh-48">
      Discover the magic of our surprise box
    </h6>
    <p class="text-align-center weight-700 lh-30 font-lg ion-no-margin">
      Unleash your child's curiosity with our educational subscription box
      filled with fun and learning.
    </p>
    <ion-button
      color="secondary"
      class="secondary-outline ion-no-margin border-12"
    >
      <span class="weight-900">Subscribe Now</span>
    </ion-button>
  </section>
  <section class="boarding-img-container">
    <img src="assets/images/boarding.png" alt="boarding" />
  </section>
</article>
